<div class="sidebar-container">

    <div class="list-container mt-2">
        <ul>
            <li class="sidenav-list-item">
                <a routerLink="/introduction" class="sidenav-link">Introduction</a>
            </li>
            <li class="sidenav-list-item">
                <a href="#" class="sidenav-link">Medical Background</a>
            </li>
            <li class="sidenav-list-item">
                <a href="#" class="sidenav-link">Treatment History</a>
            </li>
            <li class="sidenav-list-item">
                <a href="#" class="sidenav-link">Chatbot</a>
            </li>
        </ul>
    </div>


</div>