<div class="container">
    <mat-card class="mt-5 mx-4">
        <mat-card-header>
            <mat-card-title>
                Terms of Service
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatibus, optio dicta veritatis
                fuga voluptate
                voluptatum quam natus sequi eveniet libero, veniam tenetur doloribus est repellendus illo iste sed eum
                facere nisi?
                Optio earum tempora, explicabo porro itaque ipsa modi, perspiciatis in reprehenderit sed cumque.
            </div>
            <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quas a quis nobis inventore hic
                perferendis vero. Asperiores tempore assumenda accusamus placeat deserunt laudantium similique
                consequuntur recusandae id pariatur corrupti voluptatum ratione expedita cupiditate possimus sit quod
                vel, excepturi officiis maxime nobis repudiandae. Ea maxime hic modi error voluptate eaque, asperiores
                fugit dolore iure iste at pariatur accusamus cupiditate quidem deleniti laudantium natus adipisci
                temporibus amet, perspiciatis obcaecati delectus vero. Ad iusto facilis illo laborum dolor, quis sequi
                repellat corporis neque soluta cupiditate temporibus officia quidem natus voluptas architecto eveniet
                porro vero qui laboriosam veritatis minima dolores fuga in. Explicabo adipisci, quibusdam quis commodi
                sapiente nam molestias corporis est recusandae unde odio deleniti quisquam. Quod modi reiciendis numquam
                perspiciatis in et quas. Magnam, eos optio? Perspiciatis id veritatis mollitia enim veniam iusto ut,
                harum corporis, incidunt culpa nesciunt numquam, perferendis hic labore officia dignissimos eveniet.
                Esse repellat explicabo vitae reiciendis natus est laudantium, ut, consequatur quos molestiae ex dicta
                beatae sint expedita! Itaque corrupti quae ex earum aliquid reprehenderit iste error facere eligendi
                mollitia natus ipsa ipsam quaerat harum quasi fugit, accusamus minima, doloremque pariatur fuga quod!
                Praesentium modi voluptatibus suscipit voluptatem a, blanditiis error vero hic vitae, unde nulla?
            </div>
        </mat-card-content>
    </mat-card>


</div>